[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
notebook = "*"
jupyterlab = "*"
bpy = "*"
scipy = "*"
scikit-image = "*"
libigl = "*"
pandas = "*"
open3d = "*"
fake-bpy-module-latest = "*"

[dev-packages]

[requires]
python_version = "3.10"
